Source: swh-mirror-forge
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-nose,
               python3-setuptools,
               python3-vcversioner,
               python3-click,
               python3-requests,
               python3-swh.core (>= 0.0.29~)
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/source/swh-mirror-forge/

Package: python3-swh.mirror.forge
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Software Heritage Mirror Forge
